@media screen and (max-width: 600px) {
  .customizationModal {
    width: 50%;
    background-color: white;
    outline: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .customizationModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .customizationModalHeaderContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .customizationModal {
    width: 50%;
    background-color: white;
    outline: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .customizationModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .customizationModalHeaderContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .customizationModal {
    width: 15%;
    margin-left: 85%;
    background-color: white;
    outline: none;
    padding: 15px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .customizationModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(255, 255, 255, 0.75); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .customizationModalHeaderContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .customizationModalHeaderContainer > h1 {
   font-size: 20px;
   margin-bottom: 5px;
  }

  .customizationBackgroundColorOption {
    font-size: 14px;
    cursor: pointer;
  }
}
